@use '../core/vars' as *;
@use '../core/mix' as *;

.cc-form {
    position: relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;
    width: clamp(60rem, 45vw, 120rem);
    color: var(--col-def-white);

    &__header {
        padding: 2.4rem;
        background-color: var(--col-ui-main-shade);
        border-radius: 1.2rem;
        box-shadow: 0 0 0.6rem 0.6rem var(--col-ui-main);
    }

    &__title-box {
        display: flex;
        flex-direction: column;
        row-gap: 1.2rem;
        width: auto;
        margin: 0 auto;
    }

    &__title {
        margin: 0;
        padding: 0;
        font: {
            size: 6.4rem;
            weight: 700;
        };
        line-height: 1;
    }

    &__title-desc {
        margin: 0;
        padding: 0;
        font: {
            size: 1.8rem;
            weight: 400;
        };
        line-height: 1.2;
    }

    &__section {
        display: flex;
        flex-direction: column;
        row-gap: 1.2rem;
        width: auto;
        margin: 0;
        padding: 2.4rem;
        background-color: var(--col-ui-main-inverse-trans-025);
        border: 0.1rem solid var(--col-ui-main-inverse);
        border-radius: 1.2rem;
        backdrop-filter: blur(0.5rem);
    }

    &__wrapp {
        display: flex;
        flex-direction: column;
        row-gap: 3.2rem;
    }

    &__fieldset {
        margin: 0;
        padding: 0;
        border: 0;
    }

    &__fieldset-title {
        margin: 0;
        margin-block-end: 1.8rem;
        padding: 0;
        font: {
            size: 4.8rem;
            weight: 700;
        };
        line-height: 1;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 2.8rem;
    }

    &__action-btn {
        $t-props: color, background-color, opacity;
        @include trans-config($t-props);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        font: {
            size: 2rem;
            weight: 400;
        };
        line-height: 1;
        background-color: var(--col-def-trans);
        border: 0;
        cursor: pointer;

        &[type="submit"] {
            padding: 1.2rem 2.4rem;
            background-color: var(--col-ui-main-inverse);
            border-radius: 2.4rem;

            &:where(:hover, :focus-visible) {
                background-color: var(--col-ui-main-inverse-shade);
            }

            &:active {
                opacity: 0.75;
            }
        }

        &[type="reset"] {
            $pseudo-icn-size: 1.2rem;

            position: relative;
            isolation: isolate;
            padding-inline-start: calc($pseudo-icn-size + 0.8rem);
            color: var(--col-ui-main-inverse);

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                z-index: 1;
                transform: translateY(-50%);
                display: block;
                width: $pseudo-icn-size;
                height: 0.2rem;
                background-color: currentColor;
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }

            &:where(:hover, :focus-visible) {
                color: var(--col-ui-main-inverse-shade);
            }

            &:active {
                opacity: 0.75;
            }
        }

        &[disabled],
        &:disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }

    &__footer {
        $t-props: opacity;
        @include trans-config($t-props);
        display: none;
        flex-direction: column;
        row-gap: 2.4rem;
        opacity: 0;
        overflow: hidden;

        &.is-pending {
            display: flex; 
        }

        &.is-active {
            opacity: 1;
        }
    }

    &__footer-title {
        margin: 0;
        padding: 0;
        font: {
            size: 4.8rem;
            weight: 700;
        };
        line-height: 1;
    }

    &__footer-output-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem;
    }

    &__output {
        display: flex;
        flex-direction: column;
        row-gap: 0.8rem;
    }

    &__output-value {
        margin: 0;
        padding: 0;
        font: {
            size: 2.4rem;
            weight: 700;
        };
        line-height: 1;
    }

    &__output-descr {
        font: {
            size: 1.6rem;
            weight: 400;
        };
        line-height: 1;
        opacity: 0.85;
    }

    
    // MEDIA
    @include media(tablet) {
        width: 100%;

        &__title {
            font-size: 4.8rem;
        }
    }
}
