@use '../core/vars' as *;

.cc-form-params {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;

    &__param {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 1.2rem;
    }

    &__param-name {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.8rem;
        font: {
            size: 2.2rem;
            weight: 700;
        };
        line-height: 1;
    }

    &__param-name-unit {
        align-self: end;
        font: {
            size: 0.75em;
            weight: 400;
        };
        opacity: 0.75;
    }

    &__input {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 1rem;
        font: {
            size: 1.8rem;
            weight: 700;
        };
        line-height: 1;
        border: 0.1rem solid var(--col-ui-main-inverse);
        border-radius: 0.8rem;
    }
}