mixin cc-form-switch(data = {})
    .cc-form-switch&attributes(attributes)
        label.cc-form-switch__item Мужчина
            input.visually-hidden(type="radio" name="cc-form-sex" value="male" checked)                        
        label.cc-form-switch__item Женщина
            input.visually-hidden(type="radio" name="cc-form-sex" value="female")