@font-face {
    font-family: 'Syne Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url('../fonts/SyneMono-Regular.woff2') format('woff2'),
        url('../fonts/SyneMono-Regular.woff') format('woff');
}
